.header {
  padding: 40px 0;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.logo {
  display: inline-block;
}

.logo-img {
  width: 300px;
}

.header-list {
  display: flex;
  list-style: none;
}

.header-li {
  padding-left: 10px;
}

.header-bt {
  background-color: #f2f2f2;
  border-radius: 4px;
  color: #505050;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* Responsive media queries
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .header-wrap {
    display: block;
  }
  .header-nav {
    padding-top: 30px;
  }
  .header-bt {
    font-size: 12px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {}