/* Sidebar
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.col-3 {
  flex: 0 0 25%;
  box-sizing: border-box;
}

.nav {
  float: right;
}

.nav__list {
  float: right;
}

.nav__li {
  line-height: 3;
  list-style: none;
}

.nav__a {
  text-transform: uppercase;
}

/* Responsive media queries
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {}
