/* Modal
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.rodal-zoom-enter {
    width: 700px!important;
    height: fit-content!important;
    min-height: 400px;
    max-height: 90vh;
    padding: 30px;
    border-radius: 10px;
    overflow: scroll;
}

.rodal-zoom-enter::-webkit-scrollbar {
    display: none;
}

.rodal-close {
    display: none;
}

/* Form
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.form__li {
    padding-bottom: 10px;
    position: relative;
}

.form__li:last-child {
    padding-bottom: 0;
}

.list-input {
    position: relative;
    padding: 10px 0 10px 25px;
}

.form__input--add {
    position: absolute;
    background: transparent;
    left: 0;
    top: 17px;
    border: none;
    font-size: 20px;
    outline: none;
    color: #444;
    cursor: pointer;
}

.form__input--add:hover {
    color: blue;
}

.form__input--delete {
    position: absolute;
    top: 19px;
    right: 10px;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    color: #444;
}

.form__input--delete:hover {
    color: red;
}

.form__input,
.form__textarea {
    width: 100%;
    padding: 10px 40px 10px 10px;
    outline: none;
    box-sizing: border-box;
    border: 1px dotted #ccc;
    resize: none;
    border-radius: 3px;
    font-size: 20px;
}

.form__input:focus,
.form__textarea:focus {
    border: 1px dotted transparent;
    background: #eee;
}

.form__input--invalid {
    background-image: repeating-linear-gradient( -45deg, #ffd5d5, #ffe0e0 11px, #eee 10px, #eee 20px);
}

.form__input--invalid-info {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    display: inline-block;
    border-radius: 3px;
    color: #333;
}

.form__button-add-file {
    margin-top: 10px;
}

.form__button-add-file {
    background: #f2f2f2;
    border-radius: 4px;
    color: #505050;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
}

.form__button-add-post {
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    border: 1px solid transparent;
    outline: none;
    color: #fff;
    background: #3ecf8e;
    text-shadow: 0 1px 3px rgba(36, 180, 126, 1);
    text-transform: uppercase;
    cursor: pointer;
}

.form__button-add-post:active {
    box-shadow: inset 0 2px 2px rgba(73, 89, 106, .3), inset 0 0 0 1px rgba(10, 30, 44, .08);
}

/* Buttons
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.form-bt {
    display: flex;
    margin-bottom: 10px;
}

.form-bt__li {
    width: 33.33333333333333%;
    padding: 0 3px;
}

.form-bt__bt {
    width: 100%;
    font-size: 20px;
    color: #505050;
    background: #eee;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    cursor: pointer;
    border: 1px solid #ccc;
}

.form-bt__bt:active {
    box-shadow: inset 0 2px 2px rgba(73, 89, 106, .1), inset 0 0 0 1px rgba(10, 30, 44, .06);
}


.form-bt__bt--img {
    background: #eee url('../../img/icon-image.svg') no-repeat;
    padding-left: 20px;
    background-size: 25px;
    background-position-y: 9px;
    background-position-x: 25px;
}

.form-bt__bt--youtube {
    background: #eee url('../../img/icon-youtube.svg') no-repeat;
    padding-left: 20px;
    background-size: 25px;
    background-position-y: 9px;
    background-position-x: 25px;

}

.form-bt__bt--coub {
    background: #eee url('../../img/icon-coub.svg') no-repeat;
    padding-left: 20px;
    background-size: 25px;
    background-position-y: 9px;
    background-position-x: 25px;
}

.form-bt__file-upload {
    display: none;
}

/* Items
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.items__li {
    padding: 5px 5px 5px 25px;
}

.items__li:hover {
    background: #eee;
}

.items {
    list-style: none;
    padding: 10px;
}

.items__item {
    position: relative;
}

.items__icon {
    border: none;
    padding: 10px;
    position: absolute;
    left: -25px;
    top: 0;
    width: 10px;
    height: 10px;
}

.items__icon--img {
    background: transparent url('../../img/icon-image.svg') no-repeat;
    background-size: 10px;
    background-position-y: 4px;
    background-position-x: 4px;
}

.items__icon--youtube {
    background: transparent url('../../img/icon-youtube.svg') no-repeat;
    background-size: 10px;
    background-position-y: 4px;
    background-position-x: 4px;
}

.items__icon--coub {
    background: transparent url('../../img/icon-coub.svg') no-repeat;
    background-size: 10px;
    background-position-y: 4px;
    background-position-x: 4px;
}

.items__delete {
    color: #000;
    position: absolute;
    top: 0;
    right: 2px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.items__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
}

.items__delete:hover {
    color: red;
}

/* Preview
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.list-preview {
    display: flex;
    flex-wrap: wrap;
}

.img-preview {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 3px;
    margin: 5px;
    box-shadow: grey 1px 1px 3px;
}

.img-preview__img {
    width: 100px;
    height: 100px;
    border-radius: 3px;
}

.img-preview__delete {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #333;
}

/* Responsive media queries
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .rodal-zoom-enter {
        width: 90%!important;
        padding: 20px;
    }
    .form-bt {
        display: block;
    }
    .form-bt__li {
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
    }
    .form-bt__bt--img,
    .form-bt__bt--youtube,
    .form-bt__bt--coub {
        padding-left: 0;
        background-position-x: 10px;
    }
}