/* Global
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.wrapper {
  width: 900px;
  margin: 0 auto;
}

.flex-wrap {
  display: flex;
}

img {
  max-width: 100%;
}